{% extends "base.html" %}
{% block content %}
  <h1>Carrinho</h1>
  {% if cart.products.exists %}
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome do produto</th>
          <th>Preço do produto</th>
        </tr>
      </thead>
      <tbody>
        {% for product in cart.products.all %}
        <tr>
          <thscope="row">{{ forloop.counter }}</th>
          <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a><small><a href='#'>Deseja remover?</a></small></td>
          <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
        <tr>
          <tdcolspan="2"></td>
          <td><b>Subtotal</b> {{ cart.subtotal }}</td>
        </tr>
        <tr>
          <tdcolspan="2"></td>
          <td><b>Total</b> {{ cart.total }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p class='lead'>Carrinho vazio</p>
  {% endif %}
{% endblock %}