{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='col-10 col-md-6 mx-auto'>
    <h1>Add Payment Method</h1>
    <form id="payment-form">
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <p id="card-error" role="alert"></p>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/stripe-payment.js' %}" defer></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
  console.log("Stripe Payment JS is being loaded");

  // Use a publishable key from the Django template context
  const stripe = Stripe('{{ publish_key }}');

  // Restante do seu script aqui...
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stripe-custom-styles.css' %}">
{% endblock %}
