{% extends "base.html" %}

{% block content %} 
    <div class='text-center'>
        <h1>{{ title }}</h1>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class='col-md-6 col-12 mx-auto'>
                    <p>{{ content }}</p>
                    <form class='contact-form' method='POST' action='{% url "contact" %}'> {% csrf_token %}
                        {{ form.as_p }}
                        <button type='submit' class='btn btn-default'>Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}