{% load static %}
{% load custom_filters %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
      {% if nome_da_marca %}
        {{ nome_da_marca }}
      {% else %}
        Código Fluente eCommerce
      {% endif %}
    </a>

    <!-- Botão para dispositivos móveis -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links do Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Home -->
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <!-- Contato -->
        <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'contact' %}">Contato</a>
        </li>

        <!-- Produtos -->
        <li class="nav-item {% if request.path|startswith:'/products/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'products:list' %}">Produtos</a>
        </li>
        <!-- Autenticação -->
        {% if user.is_authenticated %}
          <!-- Logout -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
          </li>
        {% else %}
          <!-- Login -->
          <li class="nav-item {% if request.path == '/accounts/login/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
          </li>

          <!-- Registrar -->
          <li class="nav-item {% if request.path == '/accounts/register/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'register' %}">Registrar-se</a>
          </li>
        {% endif %}

        <!-- Carrinho -->
        <li class="nav-item {% if request.path == '/cart/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'cart:home' %}">
            <span class="navbar-cart-count">
              {% with request.session.cart_items|default:0 as cart_items %}
                {{ cart_items }}
              {% endwith %}
            </span>
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
      </ul>

      <!-- Formulário de Pesquisa -->
      {% include 'search/snippets/search-form.html' %}
    </div>
  </div>
</nav>
